
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  font-family: "Open Sans", sans-serif;
}

/* General page styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

h3 {
  color: #343a40;
  margin-bottom: 20px;
}

.modal {
  text-align: center;
}

.button-group {
  margin: 20px 0;
}

/* Location Access Modal */
.modal-body p {
  font-size: 16px;
  color: #6c757d;
}

/* Age selection buttons */
.age-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
}

/* Garage Finder */
.garage-finder {
  padding: 20px;
}

.garage-finder input {
  margin-right: 10px;
}

/* Time Slot Picker */
.time-slot-buttons button {
  margin: 5px;
  padding: 10px 20px;
}

/* Custom button styles */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}


/* header */
.MeinHeader
{
  border: 1px solid #000;
  background: #Fff;
}

/* end header */


/* LineText */

.TitleHead
{
  color: #99c1da;
}
.TitleHead button{
  margin-left: 20px;
  padding: 8px 50px;
  background-color: #007bff;
  color: #fff;
  font-size: 22px;
  border: 0;
  border-radius: 100px;
}